*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:white;
}

header{

background:#6A0DAD;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

}

.logo{

font-size:30px;
font-weight:bold;

}

nav a{

color:white;
text-decoration:none;
margin-left:25px;

}

nav a:hover{

color:#FFD700;

}

.hero{

height:90vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:#F5EDFF;

text-align:center;

}

.hero h1{

font-size:55px;
color:#6A0DAD;

}

.hero p{

margin:20px;
font-size:22px;

}

.btn{

padding:15px 35px;

background:#6A0DAD;

color:white;

text-decoration:none;

border-radius:8px;

}

.btn:hover{

background:#4B0082;

}