*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#ffffff;
}

header{
background:#6A0DAD;
color:white;
text-align:center;
padding:30px;
}

header h1{
font-size:40px;
}

header p{
margin-top:10px;
font-size:18px;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#F4ECFF;
text-align:center;
}

.hero h2{
font-size:40px;
color:#6A0DAD;
}

.hero p{
margin:20px;
font-size:20px;
}

.hero a{
background:#6A0DAD;
color:white;
padding:15px 35px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.hero a:hover{
background:#4B0082;
}
