*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#ffffff;
}

header{
background:#6A0DAD;
color:white;
text-align:center;
padding:30px;
}

header h1{
font-size:40px;
}

header p{
margin-top:10px;
font-size:18px;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#F4ECFF;
text-align:center;
}

.hero h2{
font-size:40px;
color:#6A0DAD;
}

.hero p{
margin:20px;
font-size:20px;
}

.hero a{
background:#6A0DAD;
color:white;
padding:15px 35px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.hero a:hover{
background:#4B0082;
}
/* Premium Navbar */

header{
    background:#6A0DAD;
    color:white;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-icon{
    width:55px;
    height:55px;
    background:white;
    color:#6A0DAD;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-weight:bold;
}

.logo h2{
    margin:0;
}

.logo small{
    color:#ddd;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#FFD700;
}
/* HERO SECTION */

.hero{
    height:90vh;
    background:linear-gradient(rgba(106,13,173,.70),rgba(106,13,173,.70)),
    url("https://images.unsplash.com/photo-1529139574466-a303027c1d8b?auto=format&fit=crop&w=1400&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;
}

.hero-content h1{

    font-size:65px;
    margin-bottom:20px;

}

.hero-content p{

    font-size:25px;
    margin-bottom:35px;

}

.btn{

    background:white;

    color:#6A0DAD;

    text-decoration:none;

    padding:16px 40px;

    border-radius:40px;

    font-weight:bold;

    transition:.3s;

}

.btn:hover{

    background:#FFD700;

    color:black;

}
